@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: rgb(242, 242, 242);
  --foreground: rgb(27, 27, 27);
  --primary: rgb(41, 60, 124);
  --primary-foreground: rgb(27, 27, 27);
  --secondary: rgb(197, 163, 119);
  --secondary-foreground: rgb(51, 51, 51);
  --tertiary: rgb(254, 187, 38);
  --tertiary-foreground: rgb(165, 165, 165);
  --font-sans: DM Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;
  --radius: 0.375rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary)
    /* bg-primary - text-primary - border-primary - fill-primary */;
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
