@import "tailwindcss";
@import "tw-animate-css";

:root {
  font-size: 16px;

  /* brand colors */
  --primary: #293c7c;
  --secondary: #c5a377;
  --secondary-bold: #9c733d;
  --third: #febb26;
  --white: #ffffff;
  --background: #f2f2f2;
  --stroke: #eeeeee;

  /* text colors */
  --primary-foreground: #1b1b1b; /* foreground = text color in figma*/
  --secondary-foreground: #333333;
  --third-foreground: #a5a5a5;

  /* alert colors */
  --green: #07c37b;
  --orange: #f4c724;
  --red: #c30734;
  --blue: #2a73ff;

  /* bg colors */
  --bg-1: rgba(41, 60, 124, 0.08);
  --bg-2: rgba(197, 163, 119, 0.06);
  --bg-green: rgba(7, 195, 123, 0.08);
  --bg-orange: rgba(244, 199, 36, 0.08);
  --bg-red: rgba(195, 7, 52, 0.08);
  --bg-blue: rgba(42, 115, 255, 0.08);

  /* gray colors */
  --dark: #1d1f1f;
  --gray-700: #8f8f8f;
  --gray-600: #333333;
  --gray-500: #444444;
  --gray-400: #666666;
  --gray-300: #a5a5a5;
  --gray-200: #d6d6d6;
  --gray-100: #eeeeee;
  --gray-50: #fafafa;

  /* radius */
  --radius: 4px;

  /* font size */
  --h1: 48px;
  --h2: 40px;
  --h3: 32px;
  --h4: 24px;
  --h5: 20px;
  --h6: 18px;
  --body-xl: 18px;
  --body-lg: 16px;
  --body-md: 14px;
  --body-sm: 12px;
  --body-xs: 10px;
}

@theme inline {
  /* brand colors => bg-primary / text-primary / border-primary / fill-primary */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-bold: var(--secondary-bold);
  --color-third: var(--third);
  --color-white: var(--white);
  --color-background: var(--background);
  --color-stroke: var(--stroke);

  /* text colors => text-primary-foreground / bg-primary-foreground / border-primary-foreground / fill-primary-foreground */
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-third-foreground: var(--third-foreground);

  /* alert colors => bg-brand-green / text-brand-green / border-brand-green / fill-brand-green */
  --color-brand-green: var(--green);
  --color-brand-orange: var(--orange);
  --color-brand-red: var(--red);
  --color-brand-blue: var(--blue);

  /* bg colors => bg-primary-transparent / text-primary-transparent / border-primary-transparent / fill-primary-transparent */
  --color-primary-transparent: var(--bg-1);
  --color-secondary-transparent: var(--bg-2);
  --color-green-transparent: var(--bg-green);
  --color-orange-transparent: var(--bg-orange);
  --color-red-transparent: var(--bg-red);
  --color-blue-transparent: var(--bg-blue);

  /* gray colors => bg-dark-600 / text-dark-600 / border-dark-600 / fill-dark-600 */
  /*gray 700 => border gray 700 => otp  */
  --color-dark: var(--dark);
  --color-dark-700: var(--gray-700);
  --color-dark-600: var(--gray-600);
  --color-dark-500: var(--gray-500);
  --color-dark-400: var(--gray-400);
  --color-dark-300: var(--gray-300);
  --color-dark-200: var(--gray-200);
  --color-dark-100: var(--gray-100);
  --color-dark-50: var(--gray-50);

  /* radius => rounded-sm / rounded-md / rounded-lg / rounded-xl / rounded-2xl */
  --radius-sm: var(--radius);
  --radius-md: calc(var(--radius) * 2);
  --radius-lg: calc(var(--radius) * 3);
  --radius-xl: calc(var(--radius) * 4);
  --radius-2xl: calc(var(--radius) * 5);

  /* spacing => used for padding, margin, width & height in tailwind*/
  /* p-sm / ps-sm / pe-sm / pt-sm / pb-sm / m-sm / w-sm / h-sm */
  --spacing-sm: var(--spacing);
  --spacing-md: calc(var(--spacing) * 2);
  --spacing-lg: calc(var(--spacing) * 3);
  --spacing-xl: calc(var(--spacing) * 4);
  --spacing-2xl: calc(var(--spacing) * 6);
  --spacing-3xl: calc(var(--spacing) * 8);
  --spacing-4xl: calc(var(--spacing) * 10);
  --spacing-5xl: calc(var(--spacing) * 12);
  --spacing-6xl: calc(var(--spacing) * 14);
  --spacing-7xl: calc(var(--spacing) * 16);
  --spacing-8xl: calc(var(--spacing) * 18);
  --spacing-9xl: calc(var(--spacing) * 20);

  /* fonts */
  --text-h1: var(--h1);
  --text-h2: var(--h2);
  --text-h3: var(--h3);
  --text-h4: var(--h4);
  --text-h5: var(--h5);
  --text-h6: var(--h6);
  --text-body-xl: var(--body-xl);
  --text-body-lg: var(--body-lg);
  --text-body-md: var(--body-md);
  --text-body-sm: var(--body-sm);
  --text-body-xs: var(--body-xs);
}

@layer base {
  body {
    @apply bg-white text-primary-foreground;
  }
}

/* font utilities */
@utility heading-1 {
  @apply text-h1;
  font-weight: bold;
}

@utility heading-2 {
  @apply text-h2;
  font-weight: bold;
}

@utility heading-3 {
  @apply text-h3;
  font-weight: bold;
}

@utility heading-4 {
  @apply text-h4;
  font-weight: bold;
}

@utility heading-5 {
  @apply text-h5;
  font-weight: bold;
}

@utility heading-6 {
  @apply text-h6;
  font-weight: bold;
}

@utility body-xl-bold {
  @apply text-body-xl;
  font-weight: bold;
}

@utility body-xl-medium {
  @apply text-body-xl;
  font-weight: 600;
}

@utility body-xl-regular {
  @apply text-body-xl;
  font-weight: normal;
}

@utility body-lg-bold {
  @apply text-body-lg;
  font-weight: bold;
}

@utility body-lg-medium {
  @apply text-body-lg;
  font-weight: 600;
}

@utility body-lg-regular {
  @apply text-body-lg;
  font-weight: normal;
}

@utility body-md-bold {
  @apply text-body-md;
  font-weight: bold;
}

@utility body-md-medium {
  @apply text-body-md;
  font-weight: 600;
}

@utility body-md-regular {
  @apply text-body-md;
  font-weight: normal;
}

@utility body-sm-bold {
  @apply text-body-sm;
  font-weight: bold;
}

@utility body-sm-medium {
  @apply text-body-sm;
  font-weight: 600;
}

@utility body-sm-regular {
  @apply text-body-sm;
  font-weight: normal;
}

@utility body-xs-bold {
  @apply text-body-xs;
  font-weight: bold;
}

@utility body-xs-medium {
  @apply text-body-xs;
  font-weight: 600;
}

@utility body-xs-regular {
  @apply text-body-xs;
  font-weight: normal;
}
